*{
	padding: 0;
	margin:0;
}
body{
	min-width: 1226px;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear::after{
	content: "";
	display: block;
	clear: both;
}